/* General */
$scale:14px;                    /* main font size */
$borderRadius:16px;            /* Nordic-twilight card and panel radius */
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */

$tooltipBg: var(--color-bg-hover);
$borderRadius: 16px;
